<h1>REFACCIONARIA</h1>
<br>
<div class="row">
    <div class="col p-1" style="text-align: center;">  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rProductos">Nuevo</button>
</div>
  <div class="col p-1" style="text-align: left;"> <h2>Productos</h2></div>
</div>


<!-- Reg Usuario -->
<div class="modal" id="rProductos">
    <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header bg-warning">
            <h4 class="modal-title">Registrar Producto</h4>
            <button type="button" class="btn-close" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body bg-primary">
            
              <div class="container mt-3">
                  <form (submit)="guardarProducto()">
                    <div class="mb-3">
                      <label for="nombreProducto" style="color: aliceblue;">Nombre Producto:</label>
                      <input type="text" class="form-control" id="nc" placeholder="Ingrese el nombre del producto" name="np" required [(ngModel)]="producto.nombreProducto">
                    </div>
                    <div class="mb-3">
                      <label for="marcaProducto" style="color: aliceblue;">Marca Producto:</label>
                      <input type="text" class="form-control" id="marcap" placeholder="Ingrese la marca del producto" name="marca" required [(ngModel)]="producto.marcaProducto">
                    </div>
                    <div class="mb-3">
                      <label for="presentacionProducto" style="color: aliceblue;">Presentación Producto:</label>
                      <input type="text" class="form-control" id="presentacionp" placeholder="Ingrese la presentación del producto" name="presentacion" required [(ngModel)]="producto.presentacionProducto">
                    </div>
                    <div class="mb-3">
                      <label for="contenidoProducto" style="color: aliceblue;">contenido Producto:</label>
                      <input type="text" class="form-control" id="contenido" placeholder="Ingrese el contenido del producto" name="cont" required [(ngModel)]="producto.contenidoProducto">
                    </div>
                    <div class="mb-3">
                      <label for="costoProducto" style="color: aliceblue;">Costo Producto:</label>
                      <input type="number" class="form-control" id="costo" placeholder="Ingrese sel costo" name="cost" required [(ngModel)]="producto.costoProducto">
                    </div>
                    <div class="mb-3">
                      <label for="proveedorProducto" style="color: aliceblue;">Proveedor Producto:</label>
                      <input type="text" class="form-control" id="proveedor" placeholder="Ingrese el nombre del proveedor" name="prov" required [(ngModel)]="producto.proveedorProducto">
                    </div>
                    <div class="mb-3">
                      <label for="cantidadIngresa" style="color: aliceblue;">Cantidad:</label>
                      <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad" name="cant" required [(ngModel)]="producto.cantidadIngresa">
                    </div>
                    <div class="mb-3">
                      <label for="statusProducto" style="color: aliceblue;">Status Producto:</label>
                      <input type="text" class="form-control" id="status" placeholder="Ingrese el status (true or false)" name="stat" required [(ngModel)]="producto.statusProducto">
                    </div>
                    <div class="mb-3">
                      <label for="descripcionProducto" style="color: aliceblue;">Descripcion Producto:</label>
                      <input type="text" class="form-control" id="descrip" placeholder="Ingrese la descripción del producto" name="descr" required [(ngModel)]="producto.descripcionProducto">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </form>
                </div>
  
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer bg-warning">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <table class="table table-bordered table-success">
        <thead>
            <th>#</th>
            <th>id</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Presentacion</th>
            <th>Contenido</th>
            <th>Costo</th>
            <th>Proveedor</th>
            <th>Cantidad que Ingresa</th>
            <th>Status</th>
            <th>Descripcion</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of datos3; let i = index">
                <td>{{i+1}}</td>
                <td>{{item._id}}</td>
                <td>{{item.nombreProducto}}</td>
                <td>{{item.marcaProducto}}</td>
                <td>{{item.presentacionProducto}}</td>
                <td>{{item.contenidoProducto}}</td>
                <td>{{item.costoProducto}}</td>
                <td>{{item.proveedorProducto}}</td>
                <td>{{item.cantidadIngresa}}</td>
                <td>{{item.statusProducto}}</td>
                <td>{{item.descripcionProducto}}</td>
                <td>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <br>

<div class="row">
    <div class="col p-1" style="text-align: center;">  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rSucursal">Nuevo</button>
</div>
  <div class="col p-1" style="text-align: left;"> <h2>Sucursal</h2></div>
</div>

<!-- Reg Usuario -->
<div class="modal" id="rSucursal">
    <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header bg-warning">
            <h4 class="modal-title">Registrar Sucursal</h4>
            <button type="button" class="btn-close" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body bg-primary">
            
              <div class="container mt-3">
                  <form (submit)="guardarSucursales()">
                    <div class="mb-3">
                      <label for="nombreSucursal" style="color: aliceblue;">Nombre Sucursal:</label>
                      <input type="text" class="form-control" id="nombs" placeholder="Ingrese el nombre de la sucursal" name="ns" required [(ngModel)]="sucursal.nombreSucursal">
                    </div>
                    <div class="mb-3">
                      <label for="paisSucursal" style="color: aliceblue;">Pais sucursal:</label>
                      <input type="text" class="form-control" id="paissuc" placeholder="Ingrese el pais de la sucursal" name="paiss" required [(ngModel)]="sucursal.paisSucursal">
                    </div>
                    <div class="mb-3">
                      <label for="direccionSucursal" style="color: aliceblue;">Direccion sucursal:</label>
                      <input type="text" class="form-control" id="direcs" placeholder="Ingrese la direccion de la Sucursal" name="dirsuc" required [(ngModel)]="sucursal.direccionSucursal">
                    </div>
                    <div class="mb-3">
                      <label for="telefonoSucursal" style="color: aliceblue;">Telefono sucursal:</label>
                      <input type="text" class="form-control" id="tels" placeholder="Ingrese el telefono" name="telsuc" required [(ngModel)]="sucursal.telefonoSucursal">
                    </div>
                    <div class="mb-3">
                      <label for="statusSucursal" style="color: aliceblue;">Status Sucursal:</label>
                      <input type="text" class="form-control" id="statuss" placeholder="Ingrese el estatus (true or false)" name="statussuc" required [(ngModel)]="sucursal.statusSucursal">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </form>
                </div>
  
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer bg-warning">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

<table class="table table-bordered table-primary">
    <thead>
        <th>#</th>
        <th>id</th>
        <th>Nombre Sucursal</th>
        <th>Pais Sucursal</th>
        <th>Direccion Sucursal</th>
        <th>Telefono Sucursal</th>
        <th>Status</th>

    </thead>
    <tbody>
        <tr *ngFor="let item of datos4; let i = index">
            <td>{{i+1}}</td>
            <td>{{item._id}}</td>
            <td>{{item.nombreSucursal}}</td>
            <td>{{item.paisSucursal}}</td>
            <td>{{item.direccionSucursal}}</td>
            <td>{{item.telefonoSucursal}}</td>
            <td>{{item.statusSucursal}}</td>
            <td>
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<br>

<div class="row">
    <div class="col p-1" style="text-align: center;">  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rProveedor">Nuevo</button>
</div>
  <div class="col p-1" style="text-align: left;"> <h2>Proveedores</h2></div>
</div>

<!-- Reg Usuario -->
<div class="modal" id="rProveedor">
    <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header bg-warning">
            <h4 class="modal-title">Registrar Proveedor</h4>
            <button type="button" class="btn-close" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body bg-primary">
            
              <div class="container mt-3">
                  <form (submit)="guardarProveedores()">
                    <div class="mb-3">
                      <label for="marcaProveedor" style="color: aliceblue;">Marca Proveedor:</label>
                      <input type="text" class="form-control" id="marcaprove" placeholder="Ingrese el nombre de la marca" name="marprov" required [(ngModel)]="proveedor.marcaProveedor">
                    </div>
                    <div class="mb-3">
                      <label for="localizacionProveedor" style="color: aliceblue;">Localizacion:</label>
                      <input type="text" class="form-control" id="locaprov" placeholder="Ingrese la localizacion del Proveedor" name="locaprove" required [(ngModel)]="proveedor.localizacionProveedor">
                    </div>
                    <div class="mb-3">
                      <label for="telefonoProveedor" style="color: aliceblue;">Telefono Proveedor:</label>
                      <input type="number" class="form-control" id="telprove" placeholder="Ingrese el telefono del proveedor" name="telprov" required [(ngModel)]="proveedor.telefonoProveedor">
                    </div>
                    <div class="mb-3">
                      <label for="statusProveedor" style="color: aliceblue;">Status proveedor:</label>
                      <input type="text" class="form-control" id="statusprove" placeholder="Ingrese el status (true or false)" name="statusprov" required [(ngModel)]="proveedor.statusProveedor">
                    </div>
                    <div class="mb-3">
                      <label for="descripcionProveedor" style="color: aliceblue;">Descripcion Proveedor:</label>
                      <input type="text" class="form-control" id="descrprove" placeholder="Ingrese la descripcion" name="descrprov" required [(ngModel)]="proveedor.descripcionProveedor">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </form>
                </div>
  
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer bg-warning">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

<table class="table table-bordered table-danger">
    <thead>
        <th>#</th>
        <th>id</th>
        <th>Marca Proveedor</th>
        <th>Localizacion</th>
        <th>Telefono Proveedor</th>
        <th>Status</th>
        <th>Descripcion</th>

    </thead>
    <tbody>
        <tr *ngFor="let item of datos2; let i = index">
            <td>{{i+1}}</td>
            <td>{{item._id}}</td>
            <td>{{item.marcaProveedor}}</td>
            <td>{{item.localizacionProveedor}}</td>
            <td>{{item.telefonoProveedor}}</td>
            <td>{{item.statusProveedor}}</td>
            <td>{{item.descripcionProveedor}}</td>
            <td>
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<br>

<div class="row">
    <div class="col p-1" style="text-align: center;">  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rPersonal">Nuevo</button>
</div>
  <div class="col p-1" style="text-align: left;"> <h2>Personal</h2></div>
</div>

<!-- Reg Usuario -->
<div class="modal" id="rPersonal">
    <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header bg-warning">
            <h4 class="modal-title">Registrar Personal</h4>
            <button type="button" class="btn-close" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body bg-primary">
            
              <div class="container mt-3">
                  <form (submit)="guardarPersonal()">
                    <div class="mb-3">
                      <label for="nombrePersonal" style="color: aliceblue;">Nombre Personal:</label>
                      <input type="text" class="form-control" id="nombper" placeholder="Ingrese el nombre del personal" name="npersonal" required [(ngModel)]="personal.nombrePersonal">
                    </div>
                    <div class="mb-3">
                      <label for="apellidopaPersonal" style="color: aliceblue;">Apellido paterno personal:</label>
                      <input type="text" class="form-control" id="apepatern" placeholder="Ingrese el pais de la sucursal" name="apepa" required [(ngModel)]="personal.apellidopaPersonal">
                    </div>
                    <div class="mb-3">
                      <label for="apellidomaPersonal" style="color: aliceblue;">Apellido materno personal:</label>
                      <input type="text" class="form-control" id="apematern" placeholder="Ingrese el apellido materno del personal" name="apema" required [(ngModel)]="personal.apellidomaPersonal">
                    </div>
                    <div class="mb-3">
                      <label for="telefonoPersonal" style="color: aliceblue;">Telefono personal:</label>
                      <input type="text" class="form-control" id="telperso" placeholder="Ingrese el telefono" name="telpers" required [(ngModel)]="personal.telefonoPersonal">
                    </div>
                    <div class="mb-3">
                      <label for="statusPersonal" style="color: aliceblue;">Status Personal:</label>
                      <input type="text" class="form-control" id="statusperso" placeholder="Ingrese el status del personal (true or false)" name="statuspers" required [(ngModel)]="personal.statusPersonal">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                  </form>
                </div>
  
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer bg-warning">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

<table class="table table-bordered table-warning">
    <thead>
        <th>#</th>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Telefono</th>
        <th>Status</th>

    </thead>
    <tbody>
        <tr *ngFor="let item of datos1; let i = index">
            <td>{{i+1}}</td>
            <td>{{item._id}}</td>
            <td>{{item.nombrePersonal}}</td>
            <td>{{item.apellidopaPersonal}}</td>
            <td>{{item.apellidomaPersonal}}</td>
            <td>{{item.telefonoPersonal}}</td>
            <td>{{item.statusPersonal}}</td>
            <td>
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>